.card-container {
  position: relative;
  width: 335px;
  height: 225px;
  border-radius: 10px;
  background: linear-gradient(red, black);
  z-index: 1;
}

.card-img {
  position: relative;
  width: 335px;
  height: 225px;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
}



.card-title {
  position: absolute;
  font-size: 18px;
  color: #fff;
  left: 20px;
  bottom: 20px;
}
