.header {
display: flex;
justify-content: space-between;
width: auto;
align-items: center;
margin: 20px 20px 20px 20px;
}

.kasa-logo {
   width: 145px;
   height: 47px;
}

ul {
display: flex;
flex-direction: row;
gap: 10px;
list-style-type: none;
margin: 0;
padding: 0;
font-size: 12px;
text-transform: uppercase;
}

.nav-active{
position: relative;
}

.nav-active:after{
   position: absolute;
   content:"";
   height: 1px;
   width: 100%;
   bottom: -0.5px;
   left: 0;
   background: #FF6060;
}

@media screen and (min-width: 376px){
   .header{
      margin: 40px 0px 63px 100px;
   }
   .kasa-logo {
      width: 210px;
      height: 68px;
   }
   ul{
      font-size: 24px;
      margin-right: 100px;
      text-transform: none;
      gap: 50px;
   }
}

