.star-rating{
   display: flex;
   gap: 6px;
   align-items: center;
}

.star{
width:13px;
height:14px;
}

@media screen and (min-width: 376px){

   .star{
      width: 24px;
      height: 24px;
      padding-right: 10px;
   }
}
