.tags-container{
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.tag{
   display: flex;
   background-color: #FF6060;
   width: 84px;
   height: auto;
   font-size: 10px;
   border-radius: 5px;
   text-align: center;
   color: white;
   padding-top: 3px;
   justify-content: center;
   align-items: center;
}

@media screen and (min-width: 376px){
   .tags-container{
      align-items: center;
      margin-top: 10px;
   }
 .tag{
   width: 115px;
   height: 25px;
   font-size: 14px;
   border-radius: 10px;
 }
}